{% extends 'base.html.twig' %}

{% block title %}All categories
{% endblock %}

{% block body %}
	<h1 class="text-white">{{ 'allcategories'|trans }} :
	</h1>
	{% for category in categories %}
		<div>
			<h1>{{ loop.index }}
				/ Catégorie :
				<a href="{{ path('category_show', {'categoryName': category.name}) }}">{{ category.name }}</a>
			</h1>
		</div>
	{% else %}
		Aucune catégorie trouvée.
	{% endfor %}

	<a href="{{ path('app_index') }}">
		{{ 'backhome'|trans }}
	</a>
{% endblock %}
