{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h2 class="mt-0">Saison {{ season.number }}</h2>
			<h3>Année de sortie : {{ season.year }}</h3>
			<h4>Description de la saison :</h4>
			<p>{{ season.description }}</p>
		</div>

		<div class="media">
			<h3>Liste des épisodes</h3>
            {% for episode in season.episodes %}
			<a href="{{ path("program_episode_show", { program: program.id, season: season.id, episode: episode.id }) }}">Épisode {{episode.number}}</a>
			<p>{{episode.synopsis}}</p>
            {% endfor %}
		</div>
	</div>

	<a href="{{ path('program_show', {slug: program.slug}) }}">
		Retour à la liste des saisons
	</a>
{% endblock %}
