{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<h3>Synopsis :</h3>
			<p>{{ program.synopsis }}</p>
			<h3>Saisons :</h3>
			{% for season in program.seasons %}
				<a href="{{ path("program_season_show", { program: program.id, season: season.id }) }}">{{ season.number }}</a>
			{% endfor %}
			<h3>Catégorie :</h3>
			<p>{{ program.category.name }}</p>
			<h3>Durée :</h3>
			<p>{{ programDuration }}</p>
		</div>
	</div>

	<h3>Acteurs :</h3>
	<ul>
		{% for actor in program.actors %}
			<li>{{ actor.name }}</li>
		{% else %}
			<li>Aucun acteur pour cette série</li>
		{% endfor %}
	</ul>

{# On met un bouton "Éditer" qui s'affiche que lorsque l'user est reconnu comme admin #}
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
	{% endif %}

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
